
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-height: 65px;
    width: 100%;
    margin-bottom: 3px;
  }
  
  .logo-container {
    display: flex;
    padding: 20px;
  }

  .logo-container:hover {
    cursor: pointer;
  }
  
  .logo-container img {
    width: 100%;
    max-width: 100px;
  }
  
  nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 30px;
  }
  
  .nav-item {
    list-style-type: none;
    transition: ease-out 0.3s;
    color: black;
    font-weight: 600;
  }

  .nav-item:hover {
    cursor: pointer;
    transition: ease-in 0.3s;
    transform: scale(1.05);
    padding: 10px;

  }
  
  .all:hover {
    color: var(--red);
  }
  
  .instant-cameras:hover {
    color: var(--orange);
  }
  
  .instant-film:hover {
    color: var(--yellow);
  }
  
  .accessories:hover {
    color: var(--green);
  }
  
  .gallery:hover {
    color: var(--blue);
  }
  
  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
 